.content {
  /* background-image: linear-gradient(to right, rgb(235, 123, 175), #a4daf0); */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  border: 1px solid black;
  box-shadow:         10px 10px 5px 6px rgb(138, 137, 137);

  width: 900px,

}

h1 {
  font-family: sans-serif, Charcoal, sans-serif;
  font-size: 60px;
  letter-spacing: 1.4px;
  word-spacing: 3px;
  color: #8f09b8;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  margin-left: 25pt;
  margin-top: 20pt;
  text-shadow: 9px 2px 3px #777777;
  text-align: center;
}
.form__journalDate {
  display: flex;
  flex: column;
  justify-content: left;
  margin: 2pt;
  flex-basis: 10%;
}



/* #journalDate:focus {
  border-color: rgb(148, 148, 146);
}

#conceptsCovered:focus {
  border-color: rgb(148, 148, 146);
}

#journalEntry:focus {
  border-color: rgb(148, 148, 146); 
}

#mood:focus {
  border-color: rgb(214, 83, 78); 
} */

.form__journalDate {
  border-radius: 2pt;

}
.form__journalEntry {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 2pt;
  border-radius: 2pt;
}

.form__concepts {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 2pt;
  border-radius: 2pt;
}

.form__mood {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 2pt;
  border-radius: 2pt;
}

.form__button {
  border-radius: 2pt;
}

.entryLog {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.journalEntry {
  flex-basis: 20%;
  border-bottom: 1pt solid black;
  margin: 20pt;
}
